h1{
    text-align: center;
    font-size: 60px ;
    color: goldenrod;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('Images/DuckHabitat.webp');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    image-rendering:auto;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 123, 0);
    width: 50%;
    float: right;
    padding: 120px;

}
.DuckDisplay{
    position: absolute;
    top: 250px;
    left: 20px;
    width: 700px;
    height: 500px;
}
